---
import CategorySection from "../../components/CategorySection.astro";
import DownloadProductCatalogueCard from "../../components/DownloadProductCatalogueCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import { JSW_COLORS } from "../../utils/constants.js";

const sliderImages = ["/images/construction-chemicals/main-banner-img.jpg"];
---

<MainLayout
  title="Construction Chemicals - JSW Cement"
  desc="JSW cement is a leading green cement company in India we offer eco-friendly construction and building solutions & provide best-quality Green Cement to our customers."
  metaImg="/images/construction-chemicals/main-banner-img.jpg"
>
  <section class="hero-slider">
    {
      sliderImages.map((img) => (
        <div class="w-100">
          <img
            src={img}
            alt="JSW Construction Chemicals"
            class="w-100 object-fit-cover"
          />
        </div>
      ))
    }
  </section>
  <SectionLayout className="my-5">
    <h1>Wide Range of Solutions:</h1>
  </SectionLayout>
  <CategorySection
    title="Tile Adhesive, Grout & Cleaner"
    description="Fix, clean & sustain with ease! The Tile Adhesive, Grout, and Cleaner are part of our top-quality tile range products that offer premium fixtures, and quick stain removal and are perfect for rendering surfaces waterproof and chemical-resistant."
    features={[
      "High-quality performance for effective and easy cleaning",
      "Compatible with a wide range of surfaces",
      "Long-lasting results with water-resistant properties",
    ]}
    image="/images/tile-adhesive/banner-img.png"
    link="/tile-adhesive-grout-cleaner-cc"
  />
  <CategorySection
    direction="rtl"
    bg="light"
    title="Precision Steel Grouts"
    description="All-in-one strength & precision! The JSW Steel Grouts are high-strength, non-shrink grouts engineered for precision & exceptional performance under both static and dynamic loads."
    features={[
      "Robust performance in various precision applications",
      "Apt for foundational work, applications and repairs",
      "Excellent accuracy and exceptional load-bearing",
    ]}
    image="/images/steel-grouts/banner-img-2.jpg"
    link="/precision-steel-grouts-cc"
  />
  <CategorySection
    title="Mortar"
    description="Smooth finishes just got a whole lot stronger! The Block Grip Adhesive helps form a robust bond with reduced water consumption, complemented by Enduro Plast's enhanced bond strength & minimized rebound."
    features={[
      "Extremely long-lasting formula",
      "Complete shock resistance",
      "Strong and smooth finish",
    ]}
    image="/images/mortar/banner-1.jpg"
    link="/mortar-cc"
  />
  <CategorySection
    direction="rtl"
    bg="light"
    title="Waterproofing"
    description="The most effective waterproofing product range is here! The JSW SmartBlok waterproofing range is not only multi-purpose but also strengthens the bond between old and new concrete and plaster for a variety of applications."
    features={[
      "Impenetrable waterproof barriers",
      "Heightened and improved surface durability",
      "Serves as a universal repair material",
    ]}
    image="/images/waterproofing/banner-img.jpg"
    link="/waterproofing-cc"
  />
  <SectionLayout className="my-5">
    <DownloadProductCatalogueCard
      hasButton={true}
      image="/images/construction-chemicals/cta-banner-bg.jpg"
      title="Download Brochure"
      buttonText="Download"
      categoryTitle="JSW Construction Chemicals"
      buttonLink="/pdf/brochure/JSW-Construction-Chemicals-Brochure.pdf"
    />
  </SectionLayout>
</MainLayout>

<style>
  .hero-slider {
    max-height: 600px;
    width: 100%;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    .hero-slider {
      min-height: 300px;
    }
  }
</style>

<script is:inline>
$(document).ready(function () {
  $(".hero-slider").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    infinite: true,
    speed: 500,
    fade: true,
    cssEase: "linear",
    adaptiveHeight: true,
    autoplay: true,
    autoplaySpeed: 5000,
  });
});
</script>
