---
import CategorySection from "../../components/CategorySection.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import { JSW_COLORS } from "../../utils/constants.js";

const sliderImages = [
  "/images/construction-chemicals/jsw-slider-img1.jpg",
  "/images/construction-chemicals/jsw-slider-img2.jpg",
  "/images/construction-chemicals/jsw-slider-img3.jpg",
  "/images/construction-chemicals/jsw-slider-img4.jpg",
];
---

<MainLayout>
  <section class="hero-slider">
    {
      sliderImages.map((img) => (
        <div class="w-100">
          <img
            src={img}
            alt="JSW Construction Chemicals"
            class="w-100 object-fit-cover"
          />
        </div>
      ))
    }
  </section>
  <SectionLayout className="my-5">
    <div
      class="d-flex justify-content-start align-items-center"
      style={`color:${JSW_COLORS.p1}`}
    >
      <span
        style={`display:block; width:30px; height:2px; background:${JSW_COLORS.p1}`}
      ></span>
      <p class="mb-0 ml-2">SOLUTIONS</p>
    </div>
    <h1>Wide Range of Solutions</h1>
  </SectionLayout>
  <CategorySection
    title="Tile Adhesive, Grout & Cleaner"
    description="Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
    features={new Array(4)
      .fill(null)
      .map((it) => "Lorem ipsum dolor sit amet consectetur")}
    image="/images/construction-chemicals/jsw-slider-img1.jpg"
  />
  <CategorySection
    direction="rtl"
    bg="light"
    title="Tile Adhesive, Grout & Cleaner"
    description="Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
    features={new Array(4)
      .fill(null)
      .map((it) => "Lorem ipsum dolor sit amet consectetur")}
    image="/images/construction-chemicals/jsw-slider-img1.jpg"
  />
  <CategorySection
    title="Tile Adhesive, Grout & Cleaner"
    description="Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
    features={new Array(4)
      .fill(null)
      .map((it) => "Lorem ipsum dolor sit amet consectetur")}
    image="/images/construction-chemicals/jsw-slider-img1.jpg"
  />
  <CategorySection
    direction="rtl"
    bg="light"
    title="Tile Adhesive, Grout & Cleaner"
    description="Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
    features={new Array(4)
      .fill(null)
      .map((it) => "Lorem ipsum dolor sit amet consectetur")}
    image="/images/construction-chemicals/jsw-slider-img1.jpg"
  />
</MainLayout>

<script is:inline>
$(document).ready(function () {
    $(".hero-slider").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: "linear",
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 5000,
    });
});
</script>
