<section class="footer-wrp">
  <div class="container-1360-wrp plr-15">
    <div class="row">
      <div class="col-md-3">
        <a id="footer-logo" href="/"
          ><img
            class="img-fluid"
            width="192"
            height="51"
            src="/images/logo-header.png"
          /></a
        >

        <p class="subsidry-txt">
          Our Subsidiary - <a href="https://shivacement.com/" target="_blank"
            ><img
              class="img-fluid"
              width="52"
              height="39"
              src="/images/shiv-logo.jpg"
            /></a
          > cement
        </p>
      </div>

      <div class="col-md-9">
        <div class="ftr-nav">
          <ul class="d-flex justify-content-end">
            <!-- <li><a href="/">Home</a></li>  -->

            <li>
              <a href="/about-us">About Us</a>
              <ul>
                <li><a href="/corporate-profile">Corporate Profile</a></li>
                <li><a href="/journey">Journey</a></li>
                <li><a href="/leadership">Leadership</a></li>
                <li><a href="/brand">Brand</a></li>
                <li><a href="/facilities">Facilities</a></li>
                <li>
                  <a href="/research-and-development"
                    >Research &amp; Development</a
                  >
                </li>
                <li><a href="/iconic-projects">Built with JSW Cement</a></li>
                <li><a href="/subsidiary">Subsidiary</a></li>
              </ul>
            </li>

            <li>
              <a href="/offerings">Offerings</a>
              <ul>
                <li>
                  <a href="javascript:void(0)" class="white">Products</a>
                  <ul>
                    <li><a href="/cement">Cement</a></li>
                    <li><a href="/cementitious">Cementitious</a></li>
                    <li><a href="/aggregates">Aggregates</a></li>
                    <li><a href="/additives">Additives</a></li>
                    <li><a href="/plaster">Plaster</a></li>
                    <li>
                      <a href="/ready-mix-concrete-rmc">Ready Mix Concrete</a>
                    </li>
                    <li><a href="jsw-green-crete">Green Crete</a></li>
                  </ul>
                </li>
                <li class="mt-3">
                  <a href="javascript:void(0)" class="white">Services</a>
                  <ul>
                    <li>
                      <a href="/concrete-laboratory-testing-services"
                        >Concrete Laboratory Testing</a
                      >
                    </li>
                    <li><a href="/cement-care-van-ccv">Cement Care Van</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="/responsibility">Responsibility</a>
              <ul>
                <li><a href="/sustainability">Sustainability</a></li>
                <li>
                  <a
                    href="https://esg.churchgatepartners.com/login/companyprofile?id=360037003500240024004100530048004F004B0041004E0041004E00590041004100560041004E004900410053004800570049004E00490024002400"
                    target="_blank">ESG Profile</a
                  >
                </li>
                <li><a href="/csr">Corporate Social Responsibility</a></li>
                <li>
                  <a href="/eco-friendly-cement-company"
                    >World's No 1 Eco Friendly Cement Company</a
                  >
                </li>
                <li>
                  <a
                    href="pdf/Whistle Blower Policy.pdf"
                    class="download_cta"
                    target="_blank">Whistle Blower Policy</a
                  >
                </li>
              </ul>
              <!--
    <a href="" target="_blank" class="mt-2 d-inline-block">Whistleblower Policy</a> -->
            </li>

            <li>
              <a href="/careers">Careers</a>
              <ul>
                <li><a href="/life-at-jsw-cement">Life at JSW Cement</a></li>
                <li>
                  <a href="/learning-and-engagement">Learning and Engagement</a>
                </li>
                <li><a href="/opportunities">Opportunities</a></li>
              </ul>
            </li>

            <li>
              <a href="/media">Media</a>
              <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/press-releases">Press Releases</a></li>
                <li><a href="/awards">Awards</a></li>
                <li><a href="/media#Followuson">Social Media</a></li>
              </ul>
            </li>

            <li>
              <a href="/investors">Investors</a>
              <a href="/contact-us" class="mt-2 d-block">Contact Us</a>
              <a href="tel:1800 266 266 1" class="mt-2 d-block">18002662661</a>

              <hr style="border-top:solid 1px #565454" />
              <a href="https://www.jsw.in/" target="_blank" class="mt-2 d-block"
                ><img class="img-fluid" src="/images/jsw-group-logo.png" /></a
              >
            </li>
          </ul>

          <div class="social-links d-flex justify-content-end">
            <a href="https://www.facebook.com/JSWCementOfficial" target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/Facebook_black.svg"
              /></a
            >

            <a href="https://twitter.com/JSWCement" target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/Twitter_black.svg"
              /></a
            >

            <a
              href="https://www.instagram.com/jswcementofficial/"
              target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/Instagram_black.svg"
              /></a
            >

            <a
              href="https://www.linkedin.com/company/jswcement/"
              target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/LinkedIN_black.svg"
              /></a
            >

            <a
              href="https://www.youtube.com/channel/UCpCNGNDV0DhH1CIajTHGgWw"
              target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/Youtube_black.svg"
              /></a
            >

            <a href="mailto:info@jswcement.in" target="_blank"
              ><img
                class="img-fluid"
                width="34"
                height="34"
                src="/images/Mail_black.svg"
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copy-card">
    <div class="container-1360-wrp plr-15">
      <div class="row">
        <div class="col-md-6">
          <p class="copy-right-txt">
            JSW Cement. Copyright 2022 - All rights reserved.
          </p>
        </div>

        <div class="col-md-6">
          <div class="copy-linkscard d-flex justify-content-end">
            <a class="copy-links" href="/privacy-policy">Privacy Policy</a> |

            <a class="copy-links" href="/terms-of-use">Terms of Use</a> |

            <a class="copy-links" href="https://www.aicl.in/" target="_blank"
              >Site Credits - <img
                class="img-fluid"
                src="/images/aicl-logo.png"
              /></a
            >

            <!-- <a class="copy-links" href="https://www.jswcement.in/van-mahotsav/" target="_blank">Van Mahotsav</a>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
