---

---

<section class="header-full-wrp">
  <div class="container-1360-wrp plr-15">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <a id="logo" href="/">
          <img
            class="img-fluid white-logo"
            width="192"
            height="51"
            src="/images/logo-header.png"
          />

          <img
            class="img-fluid blue-logo"
            width="192"
            height="51"
            src="/images/JSW-logo-blue-logo.png"
          />
        </a>

        <a id="ham-menu" href="javascript:void(0)"
          ><img
            class="img-fluid"
            width="42"
            height="42"
            src="/images/Hamburger.png"
          /></a
        >
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="top-links">
          <ul>
            <li><a href="/dealers-destination">Dealers’ Destination</a></li>

            <li>
              <a href="/home-builders">Homebuilders’ Hub</a>

              <!-- <ul class="top-drop">
    
    <li><a href="javascript:void(0)">Blogs</a></li>
    
    <li><a href="javascript:void(0)">Product Calculator</a></li>
    
    <li><a href="javascript:void(0)">Testimonials</a></li>
    
    <li><a href="javascript:void(0)">Home Design</a></li>
    
    </ul> -->
            </li>

            <li>
              <a href="/engineers-enclosure">Engineers’ Enclosure</a>

              <!-- <ul class="top-drop">
    
    <li><a href="javascript:void(0)">Blogs</a></li>
    
    <li><a href="javascript:void(0)">Approvals</a></li>
    
    <li><a href="javascript:void(0)">Webinars</a></li>
    
    <li><a href="javascript:void(0)">Loyalty Programmes QR Code</a></li>
    
    </ul> -->
            </li>

            <li>
              <a href="/contractors-circuit">Contractors’ Circuit</a>

              <!-- <ul class="top-drop">
    
    <li><a href="javascript:void(0)">How-to Videos/Best Construction Practices</a></li>
    
    <li><a href="javascript:void(0)">Loyalty Programmes QR Code</a></li>
    
    </ul> -->
            </li>

            <li>
              <a class="mobile-icn" href="tel:18002662661">1800 266 266 1</a>
            </li>

            <!-- <li><a href="javascript:void(0)"><img width="14" height="14" class="dark-srch" src="images/search-icn-grey.svg"> <img width="14" height="14" class="white-srch" src="images/search-icn-white.svg"></a></li>  -->
          </ul>

          <div class="clearfix"></div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="main-nav">
          <diiv class="mobile-logo-inner">
            <div class="row no-gutters">
              <div class="col-md-6 col-6">
                <img class="img-fluid" src="/images/JSW-logo-blue-logo.png" />
              </div>

              <div class="col-md-6 col-6">
                <a id="close-menu" href="javascript:void(0)"
                  ><img class="img-fluid" src="/images/Close.svg" /></a
                >
              </div>
            </div>
          </diiv>

          <ul class="main-nav-links">
            <!-- <li class="links-drop first-lnk"><a class="lnks-anchr" href="javascript:void(0)">Home</a></li>  -->

            <li class="links-drop">
              <a class="lnks-anchr" href="javascript:void(0)">About Us</a>

              <div class="mega-menu-card">
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-12">
                    <div class="drop-cap-card">
                      <h2>About Us</h2>

                      <p>
                        JSW Cement is part of the diversified US $23 billion JSW
                        Group. As one of India’s leading business houses, JSW
                        Group has other business interests in sectors, such as
                        steel, energy, infrastructure, paints, sports and
                        venture capital.
                      </p>

                      <a
                        class="common-cta"
                        href="/about-us"
                        style="width: 142px;"
                        >Read More
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-12">
                    <ul class="drop-lvl1">
                      <li class="">
                        <a href="/corporate-profile">Corporate Profile</a>
                      </li>

                      <li class=""><a href="/journey">Journey</a></li>

                      <li class="">
                        <a class="" href="/leadership">Leadership</a>

                        <!-- <ul class="drop-lvl2">
    
    
    
    <li class=""><a href="/leadership">Senior Management</a></li>
    
    
    
    <li class=""><a href="/leadership">Board of Directors</a></li>
    
    
    
    </ul> -->
                      </li>

                      <li class="">
                        <a class="" href="/brand">Brand</a>

                        <!-- <ul class="drop-lvl2">
    
    
    
    <li><a href="javascript:void(0)">Corporate AV</a></li>
    
    
    
    <li><a href="javascript:void(0)">Brand Campaigns - TVCs</a></li>
    
    
    
    </ul> -->
                      </li>

                      <li class="">
                        <a class="" href="/facilities">Facilities</a>

                        <!-- <ul class="drop-lvl2">
    
    
    
    <li><a href="/facilities">Integrated Facilities</a></li>
    
    
    
    <li><a href="/facilities">Grinding Units</a></li>
    
    
    
    </ul> -->
                      </li>

                      <li class="">
                        <a class="" href="/research-and-development"
                          >Research &amp; Development</a
                        >
                      </li>

                      <li class="">
                        <a class="" href="/iconic-projects"
                          >Built with JSW Cement</a
                        >
                      </li>

                      <li class="">
                        <a class="" href="/subsidiary">Subsidiary</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="links-drop">
              <a class="lnks-anchr" href="javascript:void(0)">Offerings</a>

              <div class="mega-menu-card mob-drop-card">
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-12">
                    <div class="drop-cap-card">
                      <h2>Offerings</h2>

                      <p>
                        A wealth of best-in-class building solutions, crafted
                        with deep industry knowledge and an understanding of
                        India’s evolving needs.
                      </p>

                      <a
                        class="common-cta"
                        href="/offerings"
                        style="width: 142px;"
                        >Read More
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-12">
                    <ul class="drop-lvl1">
                      <li class="cvr-lvl2">
                        <a class="link-cvr-lvl2" href="javascript:void(0)"
                          >Products</a
                        >

                        <ul class="drop-lvl2">
                          <li class="cvr-lvl3">
                            <a href="javascript:void(0)">Cement</a>

                            <ul class="drop-lvl3">
                              <li class="landingpagenav">
                                <a href="/cement">Overview</a>
                              </li>

                              <li class="">
                                <a href="/concreel-hd-cement">Concreel HD</a>
                              </li>

                              <li class="">
                                <a href="/composite-cement">Compcem</a>
                              </li>

                              <li class="">
                                <a href="/power-pro-cement">Power Pro</a>
                              </li>

                              <li class="">
                                <a href="/portland-slag-cement-psc"
                                  >Portland Slag Cement</a
                                >
                              </li>

                              <li class="">
                                <a href="/ordinary-portland-cement-opc"
                                  >Ordinary Portland Cement</a
                                >
                              </li>
                            </ul>
                          </li>

                          <li class="cvr-lvl3">
                            <a href="javascript:void(0)">Cementitious</a>

                            <ul class="drop-lvl3">
                              <li class="landingpagenav">
                                <a href="/cementitious">Overview</a>
                              </li>
                              <li class="">
                                <a href="/ggbs"
                                  >Ground Granulated Blast Furnace Slag</a
                                >
                              </li>
                            </ul>
                          </li>

                          <li class="cvr-lvl3">
                            <a href="javascript:void(0)">Aggregates</a>

                            <ul class="drop-lvl3">
                              <li class="landingpagenav">
                                <a href="/aggregates">Overview</a>
                              </li>
                              <li class="">
                                <a href="/screened-slag">Screened Slag</a>
                              </li>
                            </ul>
                          </li>

                          <li class="cvr-lvl3">
                            <a href="javascript:void(0)">Additives</a>

                            <ul class="drop-lvl3">
                              <li class="landingpagenav">
                                <a href="/additives">Overview</a>
                              </li>
                              <!-- <li class=""><a href="/krysta-leakproof">Krysta Leakproof</a></li>
    
    <li class=""><a href="/duraflor-floor-hardener">Duraflor</a></li> -->
                            </ul>
                          </li>

                          <li class="cvr-lvl3">
                            <a href="javascript:void(0)">Plaster</a>

                            <ul class="drop-lvl3">
                              <li class="landingpagenav">
                                <a href="/plaster">Overview</a>
                              </li>
                              <!-- <li class=""><a href="/enduro-plast-ready-mix-plaster">Enduro Plast</a></li> -->
                            </ul>
                          </li>

                          <li class="">
                            <a href="/ready-mix-concrete-rmc"
                              >Ready Mix Concrete</a
                            >
                          </li>
                          <li class="">
                            <a href="/jsw-green-crete">Green Crete</a>
                          </li>

                          <!-- <li><a href="javascript:void(0)">Ready mix Concrete</a></li> -->
                        </ul>
                      </li>

                      <li class="cvr-lvl2">
                        <a class="link-cvr-lvl2" href="javascript:void(0)"
                          >Services</a
                        >

                        <ul class="drop-lvl2">
                          <li class="">
                            <a href="/concrete-laboratory-testing-services"
                              >Concrete Laboratory Testing</a
                            >
                          </li>
                          <li class="">
                            <a href="/cement-care-van-ccv">Cement Care Van</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="links-drop">
              <a class="lnks-anchr" href="javascript:void(0)">Responsibility</a>

              <div class="mega-menu-card respo-drop-card mob-drop-card">
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-12">
                    <div class="drop-cap-card">
                      <h2>Responsibility</h2>

                      <p>
                        Our long-term growth depends on sustaining responsible
                        business practices and building trusting relations with
                        local communities, business partners, and employees.
                      </p>

                      <a
                        class="common-cta"
                        href="/responsibility"
                        style="width: 142px;"
                        >Read More
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-4">
                    <ul class="drop-lvl1">
                      <li class="">
                        <a class="link-cvr-lvl2" href="/sustainability"
                          >Sustainability
                        </a>
                      </li>

                      <!-- <li class=""><a class="link-cvr-lvl2" href="https://esg.churchgatepartners.com/login/companyprofile?id=360037003500240024004100530048004F004B0041004E0041004E00590041004100560041004E004900410053004800570049004E00490024002400" target="_blank">ESG Profile </a></li> -->
                      <li class="">
                        <a class="link-cvr-lvl2" href="/ESG-profile"
                          >ESG Profile
                        </a>
                      </li>

                      <li class="">
                        <a class="link-cvr-lvl2" href="/csr"
                          >Corporate Social Responsibility</a
                        >
                      </li>

                      <li class="">
                        <a
                          class="link-cvr-lvl2"
                          href="/eco-friendly-cement-company"
                          >World's No 1 Eco Friendly Cement Company</a
                        >
                      </li>

                      <li>
                        <a
                          class="link-cvr-lvl2 download_cta"
                          href="pdf/Whistle Blower Policy.pdf"
                          target="_blank">Whistleblower Policy</a
                        >
                      </li>

                      <!-- <li class="cvr-lvl2"><a class="link-cvr-lvl2" href="javascript:void(0)">Governance</a>
    
    
    
    <ul class="drop-lvl2">
    
    
    
    <li class=""><a href="javascript:void(0)">Policies and Frameworks</a></li>
    
    
    
    </ul>
    
    
    
    </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="links-drop first-lnk">
              <a class="lnks-anchr" href="/investors">Investors</a>
            </li>

            <li class="links-drop">
              <a class="lnks-anchr" href="javascript:void(0)">Careers</a>

              <div class="mega-menu-card career-drop-card">
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-12">
                    <div class="drop-cap-card">
                      <h2>Careers</h2>

                      <p>
                        The brightest innovators in the industry find a platform
                        in JSW Cement to do their best work every day. They
                        employ imagination to tackle complex problems and make a
                        rewarding impact.
                      </p>

                      <a
                        class="common-cta"
                        href="/careers"
                        style="width: 142px;"
                        >Read More
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-12">
                    <ul class="drop-lvl1">
                      <li class="">
                        <a href="/life-at-jsw-cement">Life at JSW Cement</a>

                        <!-- <ul class="drop-lvl2">
    
    <li class=""><a href="javascript:void(0)">Culture and Values</a></li>
    
    <li class=""><a href="javascript:void(0)">Team Speak</a></li>
    
    <li class=""><a href="javascript:void(0)">Employee Policies</a></li>
    
    <li class=""><a href="javascript:void(0)">Health and Safety</a></li>
    
    </ul> -->
                      </li>

                      <li class="">
                        <a href="/learning-and-engagement"
                          >Learning and Engagement</a
                        >
                      </li>

                      <li class="">
                        <a href="/opportunities">Opportunities</a>

                        <!-- <ul class="drop-lvl2">
    
    
    
    <li class=""><a href="javascript:void(0)">Corporate Positions</a></li>
    
    
    
    <li class=""><a href="javascript:void(0)">On-ground Positions</a></li>
    
    
    
    <li class=""><a href="javascript:void(0)">Interview Tips</a></li>
    
    
    </ul> -->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="links-drop">
              <a class="lnks-anchr" href="javascript:void(0)">Media</a>

              <div class="mega-menu-card respo-drop-card">
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-12">
                    <div class="drop-cap-card">
                      <h2>Media</h2>

                      <p>
                        There's always something exciting happening with us and
                        we believe in keeping you in the know.
                      </p>

                      <a class="common-cta" href="/media" style="width: 142px;"
                        >Read More
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-12">
                    <ul class="drop-lvl1">
                      <li class="">
                        <a class="link-cvr-lvl2" href="/news">News</a>
                      </li>

                      <li class="">
                        <a class="link-cvr-lvl2" href="/press-releases"
                          >Press Releases</a
                        >
                      </li>

                      <li class="">
                        <a class="link-cvr-lvl2" href="/awards">Awards</a>
                      </li>

                      <li class="">
                        <a class="link-cvr-lvl2" href="/media#Followuson"
                          >Social Media</a
                        >
                      </li>

                      <!-- <li><a class="link-cvr-lvl2" href="javascript:void(0)">Social Media</a></li>
    
    <li><a class="link-cvr-lvl2" href="javascript:void(0)">Awards</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="links-drop first-lnk">
              <a class="lnks-anchr" href="/contact-us">Contact Us</a>
            </li>

            <span class="mobileNav">
              <li class="links-drop first-lnk">
                <a class="lnks-anchr" href="/home-builders">Homebuilders’ Hub</a
                >
              </li>
              <li class="links-drop first-lnk">
                <a class="lnks-anchr" href="/engineers-enclosure"
                  >Engineers’ Enclosure</a
                >
              </li>
              <li class="links-drop first-lnk">
                <a class="lnks-anchr" href="/contractors-circuit"
                  >Contractors’ Circuit</a
                >
              </li>
              <li class="links-drop first-lnk">
                <a class="lnks-anchr" href="/dealers-destination"
                  >Dealers’ Destination</a
                >
              </li>
            </span>
          </ul>

          <div class="mobileTollFree">
            <a href="tel:1800 266 266 1">1800 266 266 1</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
